<table class="table-custom">
  <input type="text" [(ngModel)]="searchQuery" placeholder="Rechercher une activité" class="form-control mb-3">

  <thead>
  <tr>
    <th>Event name</th>
    <th>Description</th>
    <th>Heure de début</th>
    <th>Heure de fin</th>
    <th>Événement associé</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let activity of filteredActivities">
    <td>{{ activity.activity_name }}</td>
    <td>{{ activity.description }}</td>
    <td>{{ activity.startTime | date: 'short' }}</td>
    <td>{{ activity.finishTime | date: 'short' }}</td>
    <td>{{ activity.event?.event_name || 'No Event' }}</td>
  </tr>
  </tbody>
</table>
