<div class="container">
  <h2>Events</h2>
  <button class="btn btn-success float-right" (click)="navigateToAddEvent()">Add Event</button>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Event Name</th>
      <th>Event Date</th>
      <th>Place</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.event_name }}</td>
      <td>{{ event.event_date | date }}</td>
      <td>{{ event.place }}</td>
      <td>{{ event.event_description }}</td>
      <td>
        <!-- Ajoutez ici des actions supplémentaires si nécessaire, comme la mise à jour et la suppression -->
        <button class="btn btn-primary" (click)="updateEvent(event.event_id)">Update</button>
        <button class="btn btn-danger" (click)="deleteEvent(event.event_id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
