<!--warning add -->
<div class="modal fade" #warningSuccessModal tabindex="-1" aria-labelledby="warningSuccessModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="warningSuccessModalLabel">Notification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ warningMessage }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--warning add -->
<!-- Confirmation Modal -->
<div #deleteConfirmationModal class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this activity?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeletion()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- Confirmation Modal -->
<div class="container mt-3">
  <h2>Events</h2>
  <br>
  <button class="btn btn-add-activity mb-3 float-end" data-bs-toggle="modal" data-bs-target="#addEventModal">
    Add Event
  </button>

  <!-- Event Cards Layout -->
  <div class="row">
    <div class="col-md-4" *ngFor="let event of events">
      <div class="card mb-3 shadow">
        <div class="card-header text-white">
          <h5 class="card-title">{{ event.event_name }}</h5>
        </div>
        <div class="card-body">
          <p><strong>Date : </strong> {{ event.event_date | date }}</p>
          <p><strong>Place : </strong> {{ event.place }}</p>
          <p><strong>Description : </strong>{{ event.event_description }}</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-secondary" (click)="showUpdateModal(event)" style="color: var(--color-dark-blue);">Update</button>

          <button class="btn btn-outline-danger" (click)="askDeleteConfirmation(event.event_id)" style="color: var(--color-bright-orange);">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Event Modal -->
<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEventModalLabel">Add New Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newEventForm" (ngSubmit)="addEvent()">
          <div class="mb-3">
            <label for="event_name" class="form-label">Event Name</label>
            <input type="text" class="form-control" id="event_name" formControlName="event_name">
          </div>
          <div class="mb-3">
            <label for="event_date" class="form-label">Event Date</label>
            <input type="date" class="form-control" id="event_date" formControlName="event_date">
          </div>
          <div class="mb-3">
            <label for="place" class="form-label">Place</label>
            <input type="text" class="form-control" id="place" formControlName="place">
          </div>
          <div class="mb-3">
            <label for="event_description" class="form-label">Description</label>
            <textarea class="form-control" id="event_description" formControlName="event_description"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!newEventForm.valid">Add Event</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Update Event Modal -->
<div #updateEventModal class="modal fade" id="updateEventModal" tabindex="-1" aria-labelledby="updateEventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEventModalLabel">Update Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateEventForm" (ngSubmit)="onUpdateEvent()">
          <div class="mb-3">
            <label for="event_name" class="form-label">Event Name</label>
            <input type="text" class="form-control" id="event_name" formControlName="event_name">
          </div>
          <div class="mb-3">
            <label for="event_date" class="form-label">Event Date</label>
            <input type="date" class="form-control" id="event_date" formControlName="event_date">
          </div>
          <div class="mb-3">
            <label for="place" class="form-label">Place</label>
            <input type="text" class="form-control" id="place" formControlName="place">
          </div>
          <div class="mb-3">
            <label for="event_description" class="form-label">Description</label>
            <textarea class="form-control" id="event_description" formControlName="event_description"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!updateEventForm.valid">Update Event</button>
        </form>
      </div>
    </div>
  </div>
</div>
<mat-paginator [length]="totalItems"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="changePage($event)">
</mat-paginator>
