 <table class="table table-bordered">
     <thead>
     <tr>

       <th scope="col">Role</th>
       <th scope="col">Action</th>
     </tr>
     </thead>
     <tbody>
     <tr>
       <div class="col-lg-6 col-xl-4" *ngFor="let role of roles">
       <td scope="row">{{role.roleName}}</td>
  <td>

         <a (click)="editRole(role.roleId)">
           <i class="mdi mdi-open-in-new"></i>
         </a>
  </td>
         <td>
         <a (click)="delete(role.roleId)">
           <i class="mdi mdi-close text-danger"></i>
         </a>

       </td>

       </div>
     </tr>
     </tbody>
   </table>
