<h1>interviews</h1>
<button class="btn btn-success" (click)="navigateToAddInterview()">Add Interview</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>dateInterview</th>
            <th>type </th>
            <th>statusInterview</th>
            <th>passed</th>
            <th>Actions</th>
            

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of interviews ">
            <td>{{i.dateInterview}}</td>
            <td>{{i.type}}</td>
            <td>{{i.statusInterview}}</td>
            <td>{{i.passed}}</td>
            <td>
                <button class="btn btn-primary" (click)="updateInterview(i.interview_id)">Update</button>
                <button class="btn btn-danger" (click)="deleteInterview(i.interview_id)">Delete</button>

            </td>

        </tr>
    </tbody>
</table>