<div class="container">
  <h2>Add Feedback</h2>
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
      <div class="invalid-feedback" *ngIf="feedbackForm.get('description')?.invalid && feedbackForm.get('description')?.touched">
        Description is required.
      </div>
    </div>
    <div class="form-group">
      <label>Date:</label>
      <p>{{ feedback.FeedBack_date | date: 'medium' }}</p>
    </div>
    <div class="form-group">
      <label for="note">Note:</label>
      <input type="number" class="form-control" id="note" formControlName="note">
      <div class="invalid-feedback" *ngIf="feedbackForm.get('note')?.invalid && feedbackForm.get('note')?.touched">
        Note is required and must be between 0 and 10.
      </div>
    </div>
    <div class="form-group">
      <label for="user">User:</label>
      <input type="text" class="form-control" id="user" formControlName="user">
      <div class="invalid-feedback" *ngIf="feedbackForm.get('user')?.invalid && feedbackForm.get('user')?.touched">
        User is required.
      </div>
    </div>
    <div class="form-group">
      <label for="event">Event:</label>
      <input type="text" class="form-control" id="event" formControlName="event">
      <div class="invalid-feedback" *ngIf="feedbackForm.get('event')?.invalid && feedbackForm.get('event')?.touched">
        Event is required.
      </div>
    </div>
    <div class="form-group">
      <label for="trainingsession">Training Session:</label>
      <input type="text" class="form-control" id="trainingsession" formControlName="trainingsession">
      <div class="invalid-feedback" *ngIf="feedbackForm.get('trainingsession')?.invalid && feedbackForm.get('trainingsession')?.touched">
        Training Session is required.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
