<div class="container">
  <h2>Add Event</h2>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="event_name">Event Name:</label>
      <input type="text" class="form-control" id="event_name" formControlName="event_name" required>
      <div *ngIf="eventForm.get('event_name')?.hasError('required') && eventForm.get('event_name')?.touched">
        Event Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="event_date">Event Date:</label>
      <input type="date" class="form-control" id="event_date" formControlName="event_date" required>
      <div *ngIf="eventForm.get('event_date')?.hasError('required') && eventForm.get('event_date')?.touched">
        Event Date is required.
      </div>
    </div>

<!--    &lt;!&ndash; Select Users &ndash;&gt;-->
<!--    <div class="form-group">-->
<!--      <label for="users">Users:</label>-->
<!--      <select multiple class="form-control" id="users" formControlName="users">-->
<!--        <option *ngFor="let user of users" [ngValue]="user">{{ user.firstname}}</option>-->
<!--      </select>-->
<!--    </div>-->

<!--    &lt;!&ndash; Select Registration Events &ndash;&gt;-->
<!--    <div class="form-group">-->
<!--      <label for="registration_events">Registration Events:</label>-->
<!--      <select multiple class="form-control" id="registration_events" formControlName="registration_events">-->
<!--        &lt;!&ndash; Options here &ndash;&gt;-->
<!--      </select>-->
<!--    </div>-->

<!--    &lt;!&ndash; Select Activities &ndash;&gt;-->
<!--    <div class="form-group">-->
<!--      <label for="activities">Activities:</label>-->
<!--      <select multiple class="form-control" id="activities" formControlName="activities">-->
<!--        &lt;!&ndash; Options here &ndash;&gt;-->
<!--      </select>-->
<!--    </div>-->

<!--    &lt;!&ndash; Select Feedbacks &ndash;&gt;-->
<!--    <div class="form-group">-->
<!--      <label for="feedbacks">Feedbacks:</label>-->
<!--      <select multiple class="form-control" id="feedbacks" formControlName="feedbacks">-->
<!--        &lt;!&ndash; Options here &ndash;&gt;-->
<!--      </select>-->
<!--    </div>-->

    <button type="submit" class="btn btn-primary" [disabled]="!eventForm.valid">Add</button>
    <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
  </form>
</div>
