<div class="container mt-3">
  <!-- Bouton pour ouvrir le modal d'ajout -->
  <button class="btn btn-add-activity mb-3 float-right" data-bs-toggle="modal" data-bs-target="#addActivityModal">
    Add Activity
  </button>

  <div class="row">
    <!-- Cartes d'activité -->
    <div class="col-md-4" *ngFor="let activity of activities">
      <div class="card mb-3 shadow">
        <div class="card-header text-white">
          <h5 class="card-title" >{{ activity.activity_name }}</h5>
        </div>
        <div class="card-body" style="border-left: 5px solid var(--color-soft-green);">
          <p class="card-text">Description: {{ activity.description }}</p>
          <p class="card-text"><small>Start Time: {{ activity.startTime | date:'short' }}</small></p>
          <p class="card-text"><small>End Time: {{ activity.finishTime | date:'short' }}</small></p>
          <p class="card-text">
            <i class="fas fa-tag"></i>
            {{ getEventName(activity) }}
          </p>
        </div>
        <div class="card-footer" style="background-color: var(--color-light-blue);">
          <button class="btn btn-outline-secondary" (click)="updateActivity(activity.activity_id)" style="color: var(--color-dark-blue);">Update</button>
          <button class="btn btn-outline-danger" (click)="deleteActivity(activity.activity_id)" style="color: var(--color-bright-orange);">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination controls -->
  <button [disabled]="currentPage === 0" (click)="previousPage()">Previous</button>
  <button [disabled]="currentPage >= (totalActivities / pageSize) - 1" (click)="nextPage()">Next</button>

  <mat-paginator [length]="totalActivities"
                 [pageSize]="pageSize"
                 [pageIndex]="currentPage"
                 [pageSizeOptions]="[6, 9, 12]"
                 (page)="changePage($event)">
  </mat-paginator>
</div>

<!-- Modal d'ajout d'activité -->
<div #myModal  class="modal fade" id="addActivityModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">New Activity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Formulaire d'ajout d'activité -->
        <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="activity_name">Activity Name:</label>
            <input type="text" class="form-control" id="activity_name" formControlName="activity_name" required>
            <div *ngIf="activityForm.get('activity_name')?.hasError('required') && activityForm.get('activity_name')?.touched">
              Activity Name is required.
            </div>
          </div>

          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" formControlName="description" required></textarea>
            <div *ngIf="activityForm.get('description')?.hasError('required') && activityForm.get('description')?.touched">
              Description is required.
            </div>
          </div>

          <div class="form-group">
            <label for="startTime">Start Time:</label>
            <input type="datetime-local" class="form-control" id="startTime" formControlName="startTime" required>
            <div *ngIf="activityForm.get('startTime')?.hasError('required') && activityForm.get('startTime')?.touched">
              Start Time is required.
            </div>
          </div>

          <div class="form-group">
            <label for="finishTime">Finish Time:</label>
            <input type="datetime-local" class="form-control" id="finishTime" formControlName="finishTime" required>
            <div *ngIf="activityForm.get('finishTime')?.hasError('required') && activityForm.get('finishTime')?.touched">
              Finish Time is required.
            </div>
          </div>

          <div class="form-group">
            <label for="event">Event:</label>
            <select class="form-control" id="event" formControlName="event" required>
              <option *ngFor="let event of events" [ngValue]="event" [selected]="event.event_id === activityForm.get('event')?.value?.event_id">{{ event.event_name }}</option>
            </select>
          </div>




          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            <button type="button" class="btn btn-primary" [disabled]="!activityForm.valid" (click)="onSubmit()">Add Activity</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
