<div class="container mt-3">

  <button class="btn btn-add-activity mb-3 float-right" (click)="navigateToAddActivity()">
    Add Activity
  </button>
  <mat-paginator [length]="totalActivities"
                 [pageSize]="pageSize"
                 [pageIndex]="currentPage"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="changePage($event)">
  </mat-paginator>

  <div class="row">
    <div class="col-md-4" *ngFor="let activity of activities">
      <div class="card mb-3 shadow">
        <div class="card-header text-white" style="background-color: var(--color-dark-blue);">
          <h5 class="card-title">{{ activity.activity_name }}</h5>
        </div>
        <div class="card-body" style="border-left: 5px solid var(--color-soft-green);">
          <p class="card-text"> Description : {{ activity.description }}</p>
          <p class="card-text"><small>Start Time: {{ activity.startTime | date:'short' }}</small></p>
          <p class="card-text"><small>End Time: {{ activity.finishTime | date:'short' }}</small></p>
          <p class="card-text">
            <i class="fas fa-tag"></i>
            {{ activity.event?.event_name ? activity.event.event_name : 'No associated event' }}
          </p>
        </div>
        <div class="card-footer" style="background-color: var(--color-light-blue);">
          <button class="btn btn-outline-secondary" (click)="updateActivity(activity.activity_id)" style="color: var(--color-dark-blue);">Update</button>
          <button class="btn btn-outline-danger" (click)="deleteActivity(activity.activity_id)" style="color: var(--color-bright-orange);">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <button [disabled]="currentPage === 0" (click)="previousPage()">Previous</button>
  <button [disabled]="currentPage >= (totalActivities / pageSize) - 1" (click)="nextPage()">Next</button>

</div>
